SELECT
	t.id,
    c.aetitle,
    s.uid AS sop_class_uid,
    s.uid_description AS servizio,
    t.uid AS transfer_syntax_uid,
    t.uid_description AS sintassi
FROM public.client_sop_transfer_syntax rel
JOIN public.dicom_scu c ON rel.dicom_scu_id = c.id
JOIN public.sop_class_uid s ON rel.sop_class_uid_id = s.id
JOIN public.transfer_syntax_uid t ON rel.transfer_syntax_uid_id = t.id
WHERE rel.dicom_scu_id = 1;