-- ============================================================================
-- SCRIPT POPOLAMENTO E VERIFICA PERMESSI DICOM / PACS
-- File: seed_permissions.sql
-- ============================================================================

BEGIN;

-- ----------------------------------------------------------------------------
-- 1. INSERIMENTO PERMESSI A SISTEMA (app_permissions)
-- ----------------------------------------------------------------------------


-- ----------------------------------------------------------------------------
-- 2. ASSEGNAZIONE PERMESSI AI RUOLI DI SISTEMA (app_users_roles_permissions)
-- ----------------------------------------------------------------------------

-- ADMIN (ID = 1): Tutti i permessi censiti a sistema
INSERT INTO public.app_users_roles_permissions (role_id, permission_id)
SELECT 1, id FROM public.app_permissions
ON CONFLICT DO NOTHING;

-- RADIOLOGIST (ID = 2): Lettura, View, Export, Refertazione, Firma, Annotazioni
INSERT INTO public.app_users_roles_permissions (role_id, permission_id)
SELECT 2, id FROM public.app_permissions
WHERE code IN (
    'study:read', 'study:view', 'study:export', 'study:export_jpeg',
    'report:read', 'report:write', 'report:sign', 'annotation:save'
)
ON CONFLICT DO NOTHING;

-- PHYSICIAN / Medico Reparto (ID = 3): Lettura, View, Lettura Referto
INSERT INTO public.app_users_roles_permissions (role_id, permission_id)
SELECT 3, id FROM public.app_permissions
WHERE code IN ('study:read', 'study:view', 'report:read')
ON CONFLICT DO NOTHING;

-- TECHNICIAN / TSRM (ID = 4): Lettura, View, Upload, Modifica Metadati, Split/Merge
INSERT INTO public.app_users_roles_permissions (role_id, permission_id)
SELECT 4, id FROM public.app_permissions
WHERE code IN (
    'study:read', 'study:view', 'study:upload',
    'study:edit_metadata', 'study:split_merge', 'annotation:save'
)
ON CONFLICT DO NOTHING;

COMMIT;


-- ============================================================================
-- QUERY DI SELEZIONE E VERIFICA
-- ============================================================================

-- ----------------------------------------------------------------------------
-- QUERY A: Elenco Dettagliato (Ruolo -> Permesso con Descrizione)
-- ----------------------------------------------------------------------------
SELECT
    r.id AS role_id,
    r.name AS role_name,
    p.code AS permission_code,
    p.description AS permission_description
FROM public.app_users_roles r
JOIN public.app_users_roles_permissions rp ON r.id = rp.role_id
JOIN public.app_permissions p ON p.id = rp.permission_id
ORDER BY r.id, p.code;


-- ----------------------------------------------------------------------------
-- QUERY B: Vista Sintetica (Permessi raggruppati per Ruolo)
-- ----------------------------------------------------------------------------
SELECT
    r.name AS role_name,
    COUNT(p.id) AS total_permissions,
    STRING_AGG(p.code, ', ' ORDER BY p.code) AS assigned_permissions
FROM public.app_users_roles r
LEFT JOIN public.app_users_roles_permissions rp ON r.id = rp.role_id
LEFT JOIN public.app_permissions p ON p.id = rp.permission_id
GROUP BY r.id, r.name
ORDER BY r.id;


-- ----------------------------------------------------------------------------
-- QUERY C: Verifica Permessi per uno Specifico Utente (es. 'admin')
-- ----------------------------------------------------------------------------
SELECT
    u.username,
    r.name AS role_name,
    p.code AS permission_code,
    p.description
FROM public.app_users u
JOIN public.app_users_roles r ON u.users_roles_id = r.id
JOIN public.app_users_roles_permissions rp ON r.id = rp.role_id
JOIN public.app_permissions p ON p.id = rp.permission_id
WHERE u.username = 'admin'
ORDER BY p.code;